Repository deepcrawl/deepcrawl-test: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, rubocop -a

ci: fix version
  packages/test-nodejs-sdk/package.json
Due: prettier --write, eslint --fix

ci: fix release
  packages/test-cli/package.json
Due: prettier --write, eslint --fix

ci: publish release
  .github/workflows/release.yml
Due: prettier --write

ci: start with 0.0.0
  packages/test-cli/package.json
Due: prettier --write, eslint --fix

ci: fix typo
  packages/test-cli/package.json
Due: prettier --write, eslint --fix

ci: build for all architectures of cpus
  packages/test-cli/package.json
Due: prettier --write, eslint --fix

fix(test-cli): defaults for user key id and secret and usage guide
  packages/test-cli/src/index.ts
Due: prettier --write, eslint --fix

fix(test-cli): show no node warnings
  packages/test-cli/package.json
Due: prettier --write, eslint --fix

ci: automate uploading assets to release
  .github/workflows/pr-check.yml
  .github/workflows/release.yml
  packages/test-cli/package.json
Due: prettier --write, eslint --fix

ci: fix upload asset job
  .github/workflows/release.yml
Due: prettier --write

ci: fix upload
  .github/workflows/release.yml
Due: prettier --write

ci: fix release of test-cli
  .github/workflows/release.yml
Due: prettier --write

ci: add check on push main
  .github/workflows/build-check.yml
Due: prettier --write

ci: typo
  .github/workflows/build-check.yml
Due: prettier --write

feat(release): 1.0.0
  .github/workflows/release.yml
  README.md
  lerna.json
  packages/test-cli/README.md
  packages/test-nodejs-sdk/README.md
Due: prettier --write, eslint --fix

chore(release): publish
  CHANGELOG.md
  lerna.json
  packages/test-cli/package.json
  packages/test-nodejs-sdk/CHANGELOG.md
  packages/test-nodejs-sdk/package.json
Due: prettier --write, eslint --fix

ci: prettier ignore lerna
  .prettierignore
Due: none

ci: release for workspace versioning
  .github/workflows/release.yml
Due: prettier --write

ci: fix correct version for release
  .github/workflows/release.yml
Due: prettier --write

ci: configure prerelease on develop
  .github/workflows/pr-check.yml
  .github/workflows/prerelease.yml
Due: prettier --write

ci: fix checkout on workflow
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  lerna.json
Due: prettier --write, eslint --fix

ci: make uploading of assets always succesful
  .github/workflows/prerelease.yml
Due: prettier --write

ci: fix renovate
  renovate.json
Due: prettier --write, eslint --fix

feat(test-cli): add validation for empty strings
  packages/test-cli/src/index.ts
Due: prettier --write, eslint --fix

fix
  packages/test-cli/src/errors/validation.error.ts
  packages/test-cli/src/index.ts
Due: prettier --write, eslint --fix

ci(deps): update all dependencies
  package.json
  packages/test-nodejs-sdk/package.json
  yarn.lock
Due: prettier --write, eslint --fix

ci(deps): update all dependencies
  package.json
  packages/test-cli/package.json
  packages/test-nodejs-sdk/package.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: prerelease on event and fix audit
  .github/workflows/prerelease.yml
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

update workflow
  .github/workflows/check.yml
Due: prettier --write

checkout
  .github/workflows/check.yml
Due: prettier --write

chore: prerelease on event and fix audit (#9)
  .github/workflows/check.yml
  .github/workflows/prerelease.yml
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

feat(test-cli): add validation for empty strings (#6)
  packages/test-cli/src/errors/validation.error.ts
  packages/test-cli/src/index.ts
Due: prettier --write, eslint --fix

update readme
  README.md
Due: prettier --write

update readme (#12)
  README.md
Due: prettier --write

docs: update to Automation Hub
  README.md
  packages/test-cli/README.md
  packages/test-nodejs-sdk/README.md
Due: prettier --write

docs: update to Automation Hub (#14)
  README.md
  packages/test-cli/README.md
  packages/test-nodejs-sdk/README.md
Due: prettier --write

fix(test-cli): exit with code 1 if something went wrong
  packages/test-cli/src/index.ts
Due: prettier --write, eslint --fix

fix
  packages/test-cli/src/index.ts
Due: prettier --write, eslint --fix

fix(test-cli): exit with code 1 if something went wrong (#15)
  packages/test-cli/src/index.ts
Due: prettier --write, eslint --fix

docs: add Github Action documentation
  README.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: **/*.{md,yml}) or (any of: **/*.json)) or (any of: **/*.{js,ts})
  eslint --fix: (any of: **/*.json) or (any of: **/*.{js,ts})
  rubocop -a: any of: **/*.rb
