Repository deepcrawl/deepcrawl-test: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, rubocop -a

chore: config husky and vscode
  .github/CODEOWNERS
  .github/semantic.yml
  .github/stale.yml
  .husky/.gitignore
  .husky/post-checkout
  .husky/post-merge
  .husky/post-rewrite
  .husky/pre-commit
  .husky/prepare-commit-msg
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  deepcrawl-test.code-workspace
Due: prettier --write, eslint --fix

chore: only allow release from main
  lerna.json
Due: prettier --write, eslint --fix

chore: update jest
  jest.config.js
  packages/test-sdk/jest.config.js
  packages/test-sdk/package.json
  packages/test-sdk/setupJest.js
  packages/test-sdk/tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: downgrade node-fetch
  packages/test-sdk/package.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: fix yarn audit
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

refactor: initialization of test sdk client
  packages/test-sdk/jest.config.js
  packages/test-sdk/src/graph-api/graph-api-client.ts
  packages/test-sdk/src/graph-api/interfaces/graph-api-client-options.interface.ts
  packages/test-sdk/src/graph-api/interfaces/index.ts
  packages/test-sdk/src/index.ts
  packages/test-sdk/src/interfaces/index.ts
  packages/test-sdk/src/interfaces/test-sdk-client-create-options.interface.ts
  packages/test-sdk/src/test-sdk-client.test.ts
  packages/test-sdk/src/test-sdk-client.ts
  packages/test-sdk/src/tools-api/interfaces/index.ts
  packages/test-sdk/src/tools-api/interfaces/tools-api-client-options.interface.ts
  packages/test-sdk/src/tools-api/tools-api-client.test.ts
  packages/test-sdk/src/tools-api/tools-api-client.ts
Due: prettier --write, eslint --fix

docs: add readme to test-sdk
  packages/test-sdk/README.md
Due: prettier --write

docs: fix installation part of test-sdk
  packages/test-sdk/README.md
Due: prettier --write

docs: add documentation to the monorepo
  README.md
Due: prettier --write

docs: update monorepo docs
  README.md
Due: prettier --write

docs: fix typo
  README.md
Due: prettier --write

chore: set version 0
  packages/test-nodejs-sdk/package.json
Due: prettier --write, eslint --fix

chore(release): publish
  packages/test-nodejs-sdk/CHANGELOG.md
  packages/test-nodejs-sdk/package.json
Due: prettier --write, eslint --fix

fix: exports
  packages/test-nodejs-sdk/package.json
  packages/test-nodejs-sdk/src/index.ts
  packages/test-nodejs-sdk/src/interfaces/index.ts
  packages/test-nodejs-sdk/src/test-sdk-client.test.ts
  packages/test-nodejs-sdk/src/test-sdk-client.ts
Due: prettier --write, eslint --fix

chore: remove gitHead from package.json
  packages/test-nodejs-sdk/package.json
Due: prettier --write, eslint --fix

ci: add workflow for publishing
  .github/bin/github-registry-auth.sh
  .github/workflows/publish-release.yml
Due: prettier --write

ci: fix branch
  .github/workflows/publish-release.yml
Due: prettier --write

ci: permissions for registry auth sh
  .github/bin/github-registry-auth.sh
Due: none

ci: add pr-check workflow and refactor release workflow
  .github/workflows/pr-check.yml
  .github/workflows/release.yml
  package.json
Due: prettier --write, eslint --fix

test: testing
  packages/test-nodejs-sdk/README.md
Due: prettier --write

pr check
  .github/workflows/pr-check.yml
Due: prettier --write

fix
  .github/workflows/release.yml
Due: prettier --write

ci: fix token used in workflows (#3)
  .github/workflows/pr-check.yml
  .github/workflows/release.yml
  packages/test-nodejs-sdk/README.md
Due: prettier --write

feat: add test-cli
  deepcrawl-test.code-workspace
  package.json
  packages/test-cli/README.md
  packages/test-cli/package.json
  packages/test-cli/src/index.ts
  packages/test-cli/src/run-build-args.ts
  packages/test-cli/tsconfig.json
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

fix
  packages/test-cli/src/index.ts
  packages/test-cli/src/run-build-args.ts
Due: prettier --write, eslint --fix

lerna
  lerna.json
Due: prettier --write, eslint --fix

fixes
  .github/workflows/release.yml
Due: prettier --write

feat: add test-cli (#4)
  .github/workflows/release.yml
  deepcrawl-test.code-workspace
  lerna.json
  package.json
  packages/test-cli/README.md
  packages/test-cli/package.json
  packages/test-cli/src/index.ts
  packages/test-cli/tsconfig.json
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

ci: make lerna independent
  lerna.json
  packages/test-nodejs-sdk/package.json
Due: prettier --write, eslint --fix

ci: fixes for lerna
  lerna.json
  package.json
  packages/test-nodejs-sdk/package.json
Due: prettier --write, eslint --fix

ci: fix lerna
  lerna.json
  packages/test-cli/package.json
Due: prettier --write, eslint --fix

ci: fix
  lerna.json
  packages/test-cli/.eslintrc.js
Due: prettier --write, eslint --fix

fix: test-cli build
  packages/test-cli/package.json
  packages/test-cli/src/index.ts
Due: prettier --write, eslint --fix

ci: fix versions
  lerna.json
  packages/test-nodejs-sdk/package.json
Due: prettier --write, eslint --fix

ci: fix release
  packages/test-cli/package.json
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: **/*.{md,yml}) or (any of: **/*.json)) or (any of: **/*.{js,ts})
  eslint --fix: (any of: **/*.json) or (any of: **/*.{js,ts})
  rubocop -a: any of: **/*.rb
